body {
    font-family: Arial, sans-serif;
    font-size: 100%;
    margin: 0;
    padding: 0;
    background-color: rgb(4, 2, 29);
}
p{
    color: aliceblue;
    font-size: larger;
    
}


img {
    
    float: right;
    opacity: 0.8;
    border-radius: 100%;
    overflow: hidden;
    border-style: double;
    border-color: rgb(180, 167, 150);
    /* height: 700px */

}
header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    width: 700px;
    
}
.link{
    text-align: center;
    height: 1px;
    padding-top: 1%;
    /* margin-right: 10%; */
    /* margin-left: 100px; */
}

/*  */

section {
    padding: 50px;
} 
 
.project {
    display: flex;
    width: 400px;
    height: 10px;
    margin-top: 10px;
    border: 1px solid #08d12956;
    padding: 10px;
} 
h2{
    
    width: 40px;
    height: 40px;
    color: rgb(172, 172, 11);
    font-size: 30px;
    margin-right: 1px;
}

.project h3 {
    
    margin-top: 0;
    color: aqua;
}


#name{
    color: azure;

}

#about{
    
    color: aliceblue;
}
#hello{
    width: 40px;
    height: 70px;
    color: rgb(172, 172, 11);
    font-size: 70px;
}

.lit{
     padding-left: 30px;
    height: 10px;
    height: 10px;
    width: 30px;
    
    /* background-color: green;  */
    /* border: 1px solid; */
    
    color: white
}
#re{
    background-color:green;
    width: 30px;
    color: #fff;
}
#t{
    background-color:green;
    width: 70px;
    color: #fff;
}
#j{
    background-color:green;
    width: 80px;
    color: #fff;
}
#c{
    background-color:green;
    width: 90px;
    color: #fff;
}
#h{
    background-color:green;
    width: 100px;
    color: #fff;
}



#sk{
    width: 40px;
    height: 40px;
    color: rgb(172, 172, 11);
    font-size: 30px;

}

#pro{
    padding-left: 30px;
}